

.label {
	color:darkblue;
	padding:0 15px;
	width:100px;
    float:left;
}


/* GENERAL */

div {
	margin:0;

}
.progressbar {
    width:200px;
    float:left;
}
	
	
/* FORMS */

.form {
	border:1px solid #DDD;
}

.form div {
	margin:0;
	padding:2px 5px;
}

.error_single {
	color:#D33;
	font-weight:bold;
	font-size:75%;
}


#page {height:100%;width:100%;}

.form_body {
	xxbackground-color:#FAFAFF;
	/* funny little hack */
	border-top:1px solid #DDF;
	border-bottom:1px solid #DDF;
}


.form_body > div{
	margin:0;
	padding:2px;
	clear:both;
}

.form_header, .form_footer {
	background-color:#DDF;
}

.form_header > button {
	font-size:50%;
	margin-left:25px;
}

div.form_footer {
	text-align:right;
}

button {
	color:#666;
	lborder-color:#DDD;
}

input, select{
	border:1px solid #DDD;
	color:#333;
    float:left;
}

.form_data{
	font-size:75%;
	margin-left:50px;
}

.form_data input {
	background-color:#F08080;
	width:50px;
	font-size:75%;
}

.ctl {
float:left;
margin-right:50px;
}
.ctl input, .hidden{
	background-color:#AAA;
	width:25px;
}



/* TABLES */
table {
table-layout:fixed;
border-spacing:0;
background-color:#FAFAFF;
border-width:1px 1px 1px 1px;
border-style:solid;
border-color:#DDD;
}

th{
}

thead tr th{
color:#666;
background-color:#EEF;
border-right:1px solid #DDD;
border-bottom:1px solid #DDD;
border-left:0;
border-top:0;
}


td {
vertical-align:top;
padding: 2px;;
border-bottom:1px solid #DDD;
border-left:0;
border-right:0;
border-top:0;
font-size:12px;
}

tfoot tr td{
background-color:#EEF;
border-bottom:0;
border-top:0;
text-align:right;
}

tfoot tr td button{
color:#666
}

.th_id{
width:200px;
}
.t_id{
width:200px;
text-align:center;
background-color:#EEF;
border-right:1px solid #DDD;
}
td.t_id button{
font-size:80%;
}

tr.dirtyv td{
background-color:DDF;
}

tr.dirty input{
background-color:FFD;
}

tr.inactive input{
	background-color:#FAFAFF;
	border-color:#FAFAFF;
}


.dirtys >  div.form_body {
	background-color:#CCF;
	/* funny little hack */
	border-top:1px solid #CCF;
	border-bottom:1px solid #CCF;
}

.dirty >  div > input, .dirty >  div.form_body > div > select{
	background-color:#FFD;
}

/*
.active >  div.form_body > p > input, .active >  div.form_body > p > select{
	background-color:#FFD; 
}
*/
.inactive >  div.form_body {
	bbbackground-color:#CCF;
	/* funny little hack */
	border-top:1px solid #CCF;
	border-bottom:1px solid #CCF;
}

.inactive > div.form_body > div > input, .inactive >  div.form_body > div > select{
	background-color:#FAFAFF;
	border-color:#FAFAFF;
}



.hidden{
	background-color:#AAA;
	width:25px;
	font-size:10px;
}

.action{
	border: 1px solid #999;
	margin: 0 3px 2px 3px;
	padding:0px;
}
.action > a {
	padding: 1px;
	background-color:#9A9;
	text-decoration:none;
}
.action > a:hover {
	background-color:#f9F;
}
.action > a.record {
	background-color:#99A;
}
.action > a.record:hover {
	background-color:#fF9;
}
.action > a > img{
	border:0;
}
.action_hidden {
	display: none;
}

.shortcut{
	text-align:center;
	margin:0px;
	font-style:italic;
	font-size:75%;
}

.command{
	text-align: center;
	xbackground-color:#FFF;
	margin:2px;
}
.action > a > span.command:hover {
	text-decoration:underline;
}

#status {
	font-size:80%;
}


div.form_body > div > input.error {
	background-color:#FFEC8B;
}

.error_span{
    font-size:75%;
    color:#3a3;
}


.list_title {
    color:#33A;
}

.list_summary {
    color:#3A3;
    font-size:75%;
}

.list {
    margin-bottom:5px;
}

#search {
    width:130px;
}

.page_section_title{
    font-weight:bold;
    font-size:1.2em;
}
.page_section_summary{
    font-size:0.8em;
}

.page_section li{
    display:inline;
    list-style-type: none;
    padding-right: 20px;
}

.page_section ul{
    margin-top:0;
}

.grid_table {
    width:100%;
}

.grid_table td input {
    width:100%;

}

.link_list a{
    color:green;
    font-size:0.8em;
}

#bookmarks li{
    list-style-type: none;
    font-size:0.8em;
    color:darkgreen;
}
#bookmarks ol{
    padding-left:3px;
}
