div {
	border:0; /* 1px solid #000; */
	background-color:#EEE;
}
body {
	height:100%;
	margin:0;
	padding:0;
	border:0;
}

h1, h2, h3, h4, h5 ,h6 {
    margin:4px;
}

p {
    margin:2px;
}

.label {
	color:darkblue;
	padding:0 15px;
	width:100px;
    float:left;
}


/* GENERAL */

div {
	margin:0;

}
.progressbar {
    width:200px;
    float:left;
}
	
	
/* FORMS */

.form {
	border:1px solid #DDD;
}

.form div {
	margin:0;
	padding:2px 5px;
}

.error_single {
	color:#D33;
	font-weight:bold;
}


#page {height:100%;width:100%;}

.form_body {
	xxbackground-color:#FAFAFF;
	/* funny little hack */
	border-top:1px solid #DDF;
	border-bottom:1px solid #DDF;
}


.form_body > div{
	margin:0;
	padding:2px;
	clear:both;
}

.form_header, .form_footer {
	background-color:#DDF;
}

.form_header > button {
	margin-left:25px;
}

div.form_footer {
	text-align:right;
}

button {
	color:#666;
    margin: 1px 10px 1px 10px;
}



.form_data{
	margin-left:50px;
}

.form_data input {
	background-color:#F08080;
	width:50px;
}

.ctl {
float:left;
margin-right:50px;
}
.ctl input, .hidden{
	background-color:#AAA;
	width:25px;
}



/* TABLES */
table {
border-spacing:0;
background-color:#FAFAFF;
border-width:1px 1px 1px 1px;
border-style:solid;
border-color:#DDD;
}


th{
color:#666;
background-color:#EEF;
border-right:1px solid #DDD;
border-bottom:1px solid #DDD;
border-left:0;
border-top:0;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}

td {
vertical-align:top;
padding: 2px;;
border-bottom:1px solid #DDD;
border-left:0;
border-right:0;
border-top:0;

overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;

}

tfoot tr td{
background-color:#EEF;
border-bottom:0;
border-top:0;
text-align:right;
}

tfoot tr td button{
color:#666
}

.th_id{
width:200px;
}
.t_id{
width:200px;
text-align:center;
background-color:#EEF;
border-right:1px solid #DDD;
}

tr.dirtyv td{
background-color:DDF;
}

tr.dirty input{
background-color:FFD;
}

tr.inactive input{
	background-color:#FAFAFF;
	border-color:#FAFAFF;
}


.dirtys >  div.form_body {
	background-color:#CCF;
	/* funny little hack */
	border-top:1px solid #CCF;
	border-bottom:1px solid #CCF;
}

.dirty >  div > input, .dirty >  div.form_body > div > select{
	background-color:#FFD;
}

/*
.active >  div.form_body > p > input, .active >  div.form_body > p > select{
	background-color:#FFD; 
}
*/
.inactive >  div.form_body {
	bbbackground-color:#CCF;
	/* funny little hack */
	border-top:1px solid #CCF;
	border-bottom:1px solid #CCF;
}

.inactive > div.form_body > div > input, .inactive >  div.form_body > div > select{
	background-color:#FAFAFF;
	border-color:#FAFAFF;
}



.hidden{
	background-color:#AAA;
	width:25px;
}

.action{
	border: 1px solid #999;
	margin: 0 3px 2px 3px;
	padding:0px;
}
.action > a {
	padding: 1px;
	background-color:#9A9;
	text-decoration:none;
}
.action > a:hover {
	background-color:#f9F;
}
.action > a.record {
	background-color:#99A;
}
.action > a.record:hover {
	background-color:#fF9;
}
.action > a > img{
	border:0;
}
.action_hidden {
	display: none;
}

.shortcut{
	text-align:center;
	margin:0px;
	font-style:italic;
}

.command{
	text-align: center;
	xbackground-color:#FFF;
	margin:2px;
}
.action > a > span.command:hover {
	text-decoration:underline;
}



td input.error {
	background-color:#FFCCEE;
}


div.form_body > div > input.error {
	background-color:#FFCCEE;
}

.error_span{
    color:#3a3;
}


.list_title {
    color:#33A;
}

.list_summary {
    color:#3A3;
}

.list {
    margin-bottom:5px;
}

#search {
    width:130px;
}

.page_section_title{
    font-weight:bold;
}

.page_section li{
    display:inline;
    list-style-type: none;
    padding-right: 20px;
}

.page_section ul{
    margin-top:0;
}

.grid_table {
    width:100%;
}
input {
	border:1px solid #DDD;
	color:#333;
}

td input {
    width:100%;
    float:left;
}

.link_list a{
    color:green;
}

#bookmarks{
    overflow:hidden;
}

#bookmarks li{
    list-style-type: none;
    color:darkgreen;
}
#bookmarks ol{
    padding-left:3px;
}



.null {
    color:#CCC;
}


/* GRID */

.t_resizer {
    float: right;
    cursor:e-resize;
    width:10px;
    background-color:transparent;
    z-index:2;
    position:relative;
}

.t_header {
    z-index:1;
    position:relative;
    margin-right:15px;
    overflow:hidden;
}

.t_selected_cell {
    background-color: #FCF;
}

.t_edited_cell {
    padding: 0;
}
td.dirty {
    font-weight:bold;
}

tr.dirty {
    background-color:#FFC;
}

tr.current {
    background-color: #CCF;
}

td {
    padding:3px;
}

td input {
    margin : 0;
    border-color:#999;
}

.scroller {
    border:1px solid #666;
    background-color:#DDD;
    position:relative;
}

.scroller-main {
    overflow:scroll;
    position:absolute;
}

.scroller-side {
    overflow:hidden;
    position:absolute;
}

.scroller-side table {
    width:100%;
}

.scroller-head {
    overflow:hidden;
    position:absolute;
}
.scroller-title {
    background-color:#339;
    color:#CCC;
    text-align:center;
    font-weight:bold;
}
.scroller-foot {
    background-color:#339;
    color:#CCC;
    overflow:hidden;
    position:absolute;
}
.scroller-loader {
    position:absolute;
    display:none;
}
.scroller-foot a {
    color:#CCC;
}

.scroller-resizer {
    background-color:transparent;
    width:15px;
    height:15px;
    cursor:se-resize;
    position:absolute;
}

th{

border-right:1px solid #DDD;
border-bottom:1px solid #DDD;
border-left:0;
border-top:0;
}

td {
vertical-align:top;
border-bottom:1px solid #DDD;
border-left:0;
border-right:0;
border-right:1px solid #DDD;
border-top:0;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}


div.but_dd_f {
/*background-color:red;*/
background-color:transparent;
background-image:url('bullet_arrow_down.png');
background-repeat:no-repeat;
height:1em;
float:left;
position:relative;
width:20px;
background-color:#00B;
}

.dropdown_f{
float:left;
}

div.but_dd {
/*background-color:red;*/
background-color:transparent;
background-image:url('bullet_arrow_down.png');
background-repeat:no-repeat;
float:right;
height:1em;
position:relative;
width:20px;
}
td div.data {
background-color:transparent;
border:0 none;
margin:0 20px 0 0;
padding:3px 3px 3px 0;
position:relative;
overflow:hidden;
}

td.complex {
    padding:0;
    margin:0;
    padding-left:3px;
    padding-right:3px;
}

td.complex.t_edited_cell div.data {
    padding:0;
}

td, body, input, select, textarea, th {
    font-family: arial, helvetica, sans;
}

label.form_label, span.form_label{
    font-weight:bold;
    vertical-align:top;
    width:120px;
    float:left;
    padding-left:10px;
}

textarea {
    border:1px solid #DDDDDD;
    width:200px;
}

textarea.long {
    height:400px;
}

textarea.large, input.large, div.large {
    width:500px;
}

.f_selected_cell {
    background-color: #FCF;
}

.f_edited_cell {
    padding: 0;
    background-color: #CCF;
}

.f_error {
    background-color:#C33;
}

div.f_form.dirty{
    background-color:#CFF;
}

span.f_cell.dirty {
    font-weight:bold;
}

.form_title {
    font-weight:bold;
}
.f_form_continuous{
    border-bottom: 1px solid green;
    margin-bottom:5px;
    padding-bottom:5px;
}

.link {
    color:green;
    font-size:0.8em;
}

/*
    in a form we want each control
    to start on a new line
*/
div.f_form > div{
    clear:both;
}


div.CHECKBOX {
    float:left;
    margin-right:5px;
}

div.CHECKBOX.false input {
    background-color:white;
}

div.CHECKBOX.true input {
    background-color:green;
}

div.CHECKBOX.null input {
    background-color:grey;
}

div.f_control_holder {
    position:relative;
    float:left;
    clear:left;
    width:100%;
}

div.COLUMN {
    float:left;
    position:relative;
    width:50%;
}

/* Layouts */

div.BOX, div.COLUMN_2, div.COLUMN_3, div.COLUMN_4, div.COLUMN_5, div.HOLDER {
    float:left;
    position:relative;
    overflow:hidden;
}

/* Column layouts */

div.COLUMN_2 {
    width:50%;
}

div.COLUMN_3 {
    width:33%;
}

div.COLUMN_4 {
    width:25%;
}

div.COLUMN_5 {
    width:20%;
}


/* Box style */

div.BOX {
    border: 1px solid green;
    padding:5px;
    margin:10px;
}




div.f_codegroup_holder {
    float:left;
    position:relative;
    width:33%;
}

div.f_spacer{
    height: 1em;
}

div.f_text{
    color:green;
}

div.f_description{
    color:green;
    font-size:0.8em;
    margin-left:123px;
    clear:both;
}

div.f_control_holder input{
    float:left;
}

div.f_codegroup_holder div.f_description{
    margin-left:0;
}

div.f_message {
    border: 1px solid blue;
    background-color:#CCF;
    color:#339;
    padding:10px;
    margin-bottom:10px;
}

div.f_message_error {
    border: 1px solid red;
    background-color:#FFC;
    color:red;
}

div.f_message_title {
    font-size:1.5em;
    background-color:transparent;
}

#ajax_info {
    margin-left:25px;
    background-color:yellow;
    color:blue;
    border:1px solid blue;
    padding:1px;
    display:none;
}





/* experiments */
div.record_info, .record_info {
    font-size:0.7em;
    color:green;
    border:0;
}

div.record_info > div {
    margin:0;
    clear:none;
    float:left;
    width:200px;
}
.img_large {
    width: 300px;
    height: 300px;
    background-color: #FFF;
}
.img_medium {
    width: 128px;
    height: 128px;
    background-color: #FFF;
}


.img_upload_label {
    width:100%;
    height:100%;
    display: block;
    overflow: hidden;
}

.img_upload_label > div {
    background-color: transparent;
    text-align:center;
}

.img_upload_label > input.img_uploader {
    position: absolute;
    top:0;
    left:0;
    /* height/font-size/width must cover largest image size available */
    height: 1280px;
    font-size: 1280px;
    width: 1280px;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}


.color_background > div {
    background-color: yellow;
    position: relative;
}


.RESULT_ITEM {
    border-bottom: 1px solid #666;
    width: 100%;
    position: relative;
    clear: both;
    float:left;
}

.PAGING_BAR {
    position: relative;
    clear: both;
    float:left;
}

.RESULT_IMG {
    float:left;
    padding:5px;
}

.RESULT_DATA {

    float:left;
}

.RESULT_IMG > img {
    height:75px;
    width:75px;
}

.RECORD_IMG {
    float:right;
    position:relative;
    width:300px;
    height:300px;
    border: 2px solid #999;
    padding:3px;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    line-height:300px;
    background-color: #FFF;
    overflow:hidden;
}

.RECORD_IMG > div {
    display: inline-block;
    vertical-align: middle;
}
.RECORD_IMG > div > img{
    display: block;
}
