td, body, input, select, textarea, th {
	font-size:0.9em;
}

td input{
    font-size:1em;
}

/* this is a horrible hack to let us know if the stylesheet has been loaded
 * the font-family needs to be set to the name of the stylesheet in double quotes
 */
#styleSheetCheck{
    font-family:"css/size2.css";
}
